<div class="main-container">

  <div class="section-one">
    <div class="card">
      <h2 class="jsCentre">Add New Data</h2>
      <form class="form-data" [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" name="name" required>

        <label for="type">Type:</label>
        <input type="text" id="type" formControlName="type" name="type" required>

        <label for="place">Place:</label>
        <input type="text" id="place" formControlName="place" name="place" required>

        <label for="warranty">Warranty:</label>
        <input type="number" id="warranty" formControlName="warranty" name="warranty" required>

        <button class="submit-btn" [disabled]="productForm.invalid" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="section-two">
    <div class="product_data" >
      <h2 class="jsCentre product-header">List of Data Available</h2>

      <div class="product-list" >
        <div class="product" *ngFor="let product of data">
          <div class="delete-icon" (click)="deleteProduct(product.id)">
            <img src="../assets/delete_FILL0_wght400_GRAD0_opsz48.png" alt="Delete" class="delete-btn">
          </div>
          <h3 class="product-name">{{product.name}}</h3>
          <p class="product-type">{{product.type}}</p>
          <p class="product-place">{{product.place}}</p>
          <p class="product-warranty">{{product.warranty}}</p>
        </div>
      </div>
      
    </div>
  </div>
</div>