.home-container{
    background: #b7d6b3;
    padding: 100px;
}
.button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #8b9095;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
  }